.description-container {
  padding: 256px;
}

.about-separator {
  border-left: 4px solid rgba(var(--color-black), 0.5);
  border-radius: 8px;
  width: 4px;
  height: 300px;
  transform: rotate(30deg);
}

.about-title {
  color: var(--h-color);
  font-family: var(--h-font);
  font-size: var(--h3-size);
  font-weight: bold;
  line-height: var(--h3-height);
  padding: 0;
  margin: 0;
}

.about-container p {
  text-align: justify;
  font-size: var(--paragraph-size);
  font-family: var(--paragraph-font);
  line-height: var(--paragraph-height);
  color: var(--paragraph-color);
  padding: 0;
  margin: 0;
}
