.description-container {
  padding: 168px 64px;
}

.about-separator {
  border-top: 4px solid rgba(var(--color-black), 0.5);
  border-radius: 8px;
  width: 100%;
  margin: 32px 0px;
}

.about-title {
  font-size: var(--h3-size-tablet);
  line-height: var(--h3-height-tablet);
  color: var(--h-color);
  font-family: var(--h-font);
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.about-container {
  width: 100%;
  margin: 0;
}

.about-container p {
  font-size: var(--paragraph-size);
  line-height: var(--paragraph);
  text-align: justify;
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  padding: 0;
  margin: 0;
}

@media (min-width: 992px) {
  .about-separator {
    border-left: 4px solid rgba(var(--color-black), 0.5);
    border-radius: 8px;
    width: 4px;
    height: 300px;
    transform: rotate(30deg);
  }
}

@media (max-width: 991px) {
  .about-sep-container {
    width: 100%;
  }

  .about-title {
    font-size: var(--h3-size-phone);
    line-height: var(--h3-height-phone);
  }

  .about-container p {
    font-size: var(--paragraph-size-tablet);
    line-height: var(--paragraph-height-tablet);
  }
}

@media (min-width: 1200px) {
  .about-title {
    font-size: var(--h3-size);
    line-height: var(--h3-height);
  }
}

@media (min-width: 1500px) {
  .description-container {
    padding: 256px 256px;
  }
}
