{
    "semi": true,
    "tabWidth": 4,
    "overrides": [
        {
            "files": "**/*.css",
            "options": { "tabWidth": 2 }
        }
    ],
    "singleQuote": true,
    "trailingComma": "all",
    "jsxSingleQuote": false
}
