.primary-btn {
  background-image: var(--color-brand-gradient);
  color: rgb(var(--color-white));
  font-family: Nunito, sans-serif;
  font-size: var(--h6-size);
  font-weight: bold;
  padding: 20px 40px;
  border-radius: 100px;
  border: none;
  box-shadow: 0px 146px 122px rgba(37, 42, 44, 0.08),
    0px 60.9953px 50.9687px rgba(37, 42, 44, 0.0575083),
    0px 32.611px 27.2503px rgba(37, 42, 44, 0.0476886),
    0px 18.2815px 15.2763px rgba(37, 42, 44, 0.04),
    0px 9.70915px 8.11312px rgba(37, 42, 44, 0.0323114),
    0px 4.04019px 3.37605px rgba(37, 42, 44, 0.0224916);
}

.pri-btn-icon {
  font-size: 18px;
  margin-left: 16px;
}

.pri-btn-active {
  opacity: 0.8;
}
