#experience {
  padding: 0px 64px;
}

.education-title,
.experience-title {
  font-size: var(--h3-size-tablet);
  color: var(--h-color);
  font-family: var(--h-font);
  font-weight: bold;
}

.education-title {
  margin-top: 128px;
  margin-top: 64px;
}

.experience-title {
  margin: 0;
}

@media (min-width: 992px) {
  .education-title {
    margin-top: 128px;
  }
}

@media (max-width: 768px) {
  .education-title {
    margin-top: 32px;
  }
}

@media (max-width: 991px) {
  .education-title,
  .experience-title {
    font-size: var(--h3-size-phone);
  }
}

@media (min-width: 1200px) {
  #experience {
    padding: 0px 256px 0px 256px;
  }

  .education-title,
  .experience-title {
    font-size: var(--h3-size);
  }
}
