#experience {
  padding: 0px 64px 0px 64px;
}

.education-title,
.experience-title {
  font-size: var(--h3-size);
  color: var(--h-color);
  font-family: var(--h-font);
  font-weight: bold;
}

.education-title {
  margin: 0;
}

.experience-title {
  margin-top: 128px;
}

@media (min-width: 1200px) {
  #experience {
    padding: 0px 256px 0px 256px;
  }
}
