@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Kufam';
  font-style: normal;
  src: url(./../fonts/Kufam.ttf) format('truetype');
}

@font-face {
  font-family: 'League Spartan';
  font-style: normal;
  src: url(./../fonts/LeagueSpartan.ttf) format('truetype');
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
}
