@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kufam:wght@400;700&family=League+Spartan&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
}
