.experience-container {
  margin: 128px 0 0 0;
  padding: 0;
}

.date-label {
  font-size: var(--paragraph-size-tablet);
  line-height: var(--paragraph-height-tablet);
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  margin: 0;
}

.separator {
  border-left: 4px solid rgba(var(--color-black), 0.5);
  border-radius: 8px;
  width: 4px;
  height: 100%;
  transform: rotate(30deg);
}

.exp-img {
  width: 140px;
  border-radius: 28px;
  margin-bottom: 16px;
  filter: drop-shadow(0px 4px 80px rgba(37, 42, 44, 0.07))
    drop-shadow(0px 1.6711px 33.4221px rgba(37, 42, 44, 0.0503198))
    drop-shadow(0px 0.893452px 17.869px rgba(37, 42, 44, 0.0417275))
    drop-shadow(0px 0.500862px 10.0172px rgba(37, 42, 44, 0.035))
    drop-shadow(0px 0.266004px 5.32008px rgba(37, 42, 44, 0.0282725))
    drop-shadow(0px 0.11069px 2.21381px rgba(37, 42, 44, 0.0196802));
}

.card-title {
  font-size: var(--h4-size-tablet);
  line-height: var(--h4-height-tablet);
  font-family: var(--h-font);
  color: var(--h-color);
  font-weight: bold;
  padding: 0;
  padding-bottom: 32px;
}

.card-area {
  font-size: var(--h5-size-tablet);
  line-height: var(--h5-height-tablet);
  font-family: var(--h5-font);
  color: rgba(var(--color-black), 0.75);
  padding: 0;
  margin: 0;
}

@media (max-width: 575px) {
  .card-title {
    padding-top: 16px;
    padding-bottom: 8px;
  }
}

@media (min-width: 768px) {
  .exp-img {
    width: 180px;
  }
}

@media (max-width: 991px) {
  .card-title {
    font-size: var(--h4-size-phone);
    line-height: var(--h4-height-phone);
  }

  .card-area {
    font-size: var(--h5-size-phone);
    line-height: var(--h5-height-phone);
  }
}

@media (min-width: 1200px) {
  .exp-img {
    width: 212px;
  }

  .card-title {
    font-size: var(--h4-size);
    line-height: var(--h4-height);
  }

  .card-area {
    font-size: var(--h5-size);
    line-height: var(--h5-height);
  }

  .date-label {
    font-size: var(--paragraph-size);
    line-height: var(--paragraph-height);
  }
}
