.date-label {
  font-size: 1.2rem;
  font-family: Central_W_Light;
  font-weight: bold;
}

.exp-img {
  max-width: 17rem;
}

.description-paragraph {
  font-size: 1.1rem;
  font-family: Central_W_Light;
}

.card-title {
  font-family: REBELTON_Medium;
}
