.card-project {
  width: 100%;
  height: auto;
  border: 4px solid rgba(var(--color-black), 0.25);
  border-radius: 16px;
  padding: 32px;
}

.proj-description-container {
  padding: 0 32px 0 0;
}

.card-text {
  text-align: justify;
  font-size: var(--paragraph-size);
  font-family: var(--paragraph-font);
  line-height: var(--paragraph-height);
  color: var(--paragraph-color);
}

.card-img-project {
  width: 100%;
}
