.card-project {
  padding: 16px;
  width: 100%;
  height: auto;
  border: 4px solid rgba(var(--color-black), 0.25);
  border-radius: 16px;
}

.proj-description-container {
  padding: 0 32px 0 0;
}

.card-text {
  font-size: var(--paragraph-size-tablet);
  line-height: var(--paragraph-height-tablet);
  text-align: justify;
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
}

.card-img-project {
  width: 50%;
  padding-bottom: 16px;
}

@media (min-width: 768px) {
  .card-project {
    padding: 32px;
  }

  .card-img-project {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .card-text {
    font-size: var(--paragraph-size);
    line-height: var(--paragraph-height);
  }
}
