.borderless-btn {
  background: transparent;
  color: var(--h-color);
  font-family: Nunito, sans-serif;
  font-size: var(--h6-size);
  font-weight: bold;
  border: none;
  border-bottom: 1px solid transparent;
  padding: 0;
}

.bls-btn-left {
  margin-right: 8px;
}

.bls-btn-right {
  margin-left: 8px;
}

.bls-btn-icon {
  font-size: 18px;
}

.bls-btn-hover {
  opacity: 0.75;
  border-bottom: 1px solid rgba(var(--color-black), 0.75);
}

.bls-btn-active {
  color: rgba(var(--color-secondary), 0.75);
  border-bottom: 1px solid rgba(var(--color-secondary), 0.75);
}

.bls-btn-disabled {
  color: rgb(var(--color-disabled));
  border-bottom: 1px solid transparent;
  cursor: not-allowed !important;
}

@media (max-width: 1199px) {
  .borderless-btn {
    font-size: var(--h6-size-tabletphone);
  }

  .bls-btn-icon {
    font-size: 16px;
  }
}
