#projects {
  margin-bottom: 280px;
}

.project-bg {
  width: 100%;
}

.project-container {
  background-color: white;
  padding: 16px 32px 0px 32px;
  margin: 0px 64px;
  border-radius: 16px;
  width: 100%;
  position: relative;
  top: 64px;
}

.projects-title {
  font-size: var(--h3-size-tablet);
  padding-bottom: 32px;
  color: var(--h-color);
  font-family: var(--h-font);
  font-weight: bold;
}

.slider-controls {
  padding-top: 80px;
}

.project-tools {
  font-size: var(--paragraph-size);
  line-height: var(--paragraph-height);
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
}

@media (min-width: 1300px) {
  #projects {
    margin-bottom: 384px;
  }

  .project-container {
    margin: 0px 256px;
    top: 128px;
  }

  .projects-title {
    padding-bottom: 80px;
  }
}

@media (min-width: 768px) {
  .project-container {
    padding: 32px 68px 0px 68px;
  }
}

@media (max-width: 768px) {
  #projects {
    margin-bottom: 160px;
  }
}

@media (max-width: 991px) {
  .projects-title {
    font-size: var(--h3-size-phone);
  }
}

@media (min-width: 1200px) {
  .projects-title {
    font-size: var(--h3-size);
  }
}

@media (max-width: 1200px) {
  .projects-title {
    padding-bottom: 40px;
  }
  .project-tools {
    font-size: var(--paragraph-size-tablet);
    line-height: var(--paragraph-height-tablet);
  }
}
