.nav-container {
  background-color: white;
  border-bottom: 1px solid rgba(var(--color-black), 0.5);
  height: 108px;
  padding: 0 64px 0 64px;
  margin: 0;
  position: fixed;
  top: 0;
  z-index: 99;
}

.nav-brand {
  color: rgb(var(--color-black));
  font-family: Nunito_Black, sans-serif;
  font-size: 40px;
  text-decoration: none;
}

.nav-brand:hover {
  color: rgba(var(--color-black), 0.8);
}

.navbar {
  padding: 0;
}

.navbar a {
  color: rgb(var(--color-black));
  font-weight: bold;
  font-size: 15px;
  font-family: Nunito, sans-serif;
}

.navbar a:hover {
  color: rgba(var(--color-black), 0.5);
}

.navbar a:active {
  color: rgba(var(--color-black), 0.4);
}
