.secondary-btn {
  background-color: rgb(var(--color-white));
  font-family: Nunito, sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 100px;
  border: 4px solid rgb(var(--color-black));
  color: rgb(var(--color-black));
}

.sec-btn-icon {
  font-size: 10px;
  padding-left: 8px;
}

.sec-btn-hover {
  background-color: rgb(var(--color-black));
  color: rgb(var(--color-white));
}

.sec-btn-active {
  background-color: rgba(var(--color-black), 0.8);
  color: rgb(var(--color-white));
}

@media (min-width: 992px) {
  .secondary-btn {
    font-size: 15px;
  }
  .sec-btn-icon {
    font-size: 10px;
  }
}
