.footer-container {
  border-top: 1px solid rgba(var(--color-black), 0.5);
  width: 100vw;
  height: 108px;
  padding: 0 64px 0 64px;
  margin-top: 256px;
}

.copyright-text {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  font-size: var(--paragraph-size);
}

.footer-icons a {
  color: rgb(var(--color-black));
  font-size: 32px;
}
