.footer-container {
  border-top: 0.3rem solid var(--color-cyan);
  width: 100vw;
}

.copyright-text {
  background: var(--color-orange);
  font-family: Central_W_Light;
}

.copyright-text a {
  text-decoration: none;
  font-weight: bolder;
  font-family: REBELTON_Medium;
}

.copyright-text a:hover {
  text-decoration: underline;
}

.foot-icons {
  background: var(--color-gray);
}
