.home-container {
  width: 100vw;
  height: 100vh;
  background: var(--color-gray);
}

.img-back {
  color: var(--color-cyan);
  font-weight: bolder;
  font-size: 35rem;
}

.portrait-img {
  position: absolute;
  width: 30rem;
  height: 30rem;
}

.greeting-title {
  color: var(--color-cyan);
}

.name-title {
  color: var(--color-orange);
}

.about-button {
  background: var(--color-orange);
  width: auto;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
}

.stack-container {
  height: 100vh;
}

.presentation-title h1 {
  font-family: REBELTON_Medium;
  font-size: 4rem;
  word-spacing: 1.2rem;
  font-weight: bold;
}

.rol-subtitle {
  font-family: Central_W_Light;
}
