body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

html {
  --color-gray: #dbdbdb;
  --color-cyan: #3a9cba;
  --color-orange: #f08d2b;

  --color-primary: #3d8fb1;
  --color-secondary: #374ebd;
  --color-brand-gradient: linear-gradient(0.25turn, #3d8fb1, #374ebd);
  --color-white: #ebf2f4;
  --color-black: 37, 42, 44;
}

@font-face {
  font-family: Central_W_Light;
  src: url(./resources/fonts/Central_W_Light.ttf);
}

@font-face {
  font-family: REBELTON_Medium;
  src: url(./resources/fonts/REBELTON_Medium.ttf);
}

@font-face {
  font-family: Nunito;
  src: url(./resources/fonts/Nunito.ttf);
}

@font-face {
  font-family: Nunito_Black;
  src: url(./resources/fonts/Nunito-Black.ttf);
}

@font-face {
  font-family: NunitoSans_Regular;
  src: url(./resources/fonts/NunitoSans-Regular.ttf);
}

@font-face {
  font-family: NunitoSans_Light;
  src: url(./resources/fonts/NunitoSans-Light.ttf);
}

@font-face {
  font-family: NunitoSans_Bold;
  src: url(./resources/fonts/NunitoSans-Bold.ttf);
}
