body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

html {
  --color-secondary: 55, 78, 189;
  --color-brand-gradient: linear-gradient(0.25turn, #3d8fb1, #374ebd);
  --color-white: 235, 242, 244;
  --color-black: 37, 42, 44;
  --color-disabled: 95, 116, 125;
  --h-color: rgb(37, 42, 44);

  --h-font: Nunito, sans-serif;

  --paragraph-size: 21px;
  --paragraph-height: 30px;
  --paragraph-font: NunitoSans-Regular, sans-serif;
  --paragraph-color: rgba(37, 42, 44, 0.75);
  --paragraph-size-tablet: 18px;
  --paragraph-height-tablet: 28px;

  --h2-size: 84px;
  --h2-height: 100px;
  --h2-size-tablet: 72px;
  --h2-height-tablet: 88px;
  --h2-size-phone: 44px;
  --h2-height-phone: 60px;

  --h3-size: 60px;
  --h3-height: 70px;
  --h3-font: Nunito_Light, sans-serif;
  --h3-size-phone: 34px;
  --h3-height-phone: 46px;
  --h3-size-tablet: 50px;
  --h3-height-tablet: 60px;

  --h4-size: 42px;
  --h4-height: 50px;

  --h5-size: 30px;
  --h5-height: 40px;
  --h5-font: Nunito_Light, sans-serif;

  --h6-size: 21px;
  --h6-height: 27px;
  --h6-size-tabletphone: 18px;
  --h6-height-tabletphone: 24px;
}

@font-face {
  font-family: Nunito_Light;
  src: url(./resources/fonts/Nunito-Light.ttf);
}

@font-face {
  font-family: Nunito;
  src: url(./resources/fonts/Nunito.ttf);
}

@font-face {
  font-family: Nunito_Black;
  src: url(./resources/fonts/Nunito-Black.ttf);
}

@font-face {
  font-family: NunitoSans_Regular;
  src: url(./resources/fonts/NunitoSans-Regular.ttf);
}

@font-face {
  font-family: NunitoSans_Light;
  src: url(./resources/fonts/NunitoSans-Light.ttf);
}

@font-face {
  font-family: NunitoSans_Bold;
  src: url(./resources/fonts/NunitoSans-Bold.ttf);
}
